<app-header></app-header>
<div  style="margin-top: 25px;">
	<div class="panel panel-default" *ngFor="let friend of friends,let i=index" style="background-color: #6698bf;color: black;" >

		<div class="panel-body" >
			<h4 >author</h4>
			<p>{{friend.content}}</p>
			<div *ngIf="friend.fileName">
				<img height="200" width="250" src="http://localhost/social-media/server{{friend.fileName}}">
			</div><hr/>
			<div class="row">
				
				<div class="col-md-3" style="margin-top: -25px;">
					<h3 >LIKE</h3>

					<i  class="fa fa-thumbs-up" (click)="postLike(friend._id)"></i>&nbsp;
					<p>{{friend.like.length}}</p>
					<i class="fa fa-thumbs-down" (click)="postDisLike(friend._id)"></i>
					<p>{{friend.like.length}}</p>
				</div>
				<div class="col-md-8">
					<i class="fas fa-comments"></i><h3 style="margin-left: 20px;margin-top: -25px;">COMMENT</h3>
					<div>
						<div *ngFor="let i of friend.comment">

							<img height="150" width="200" src="http://localhost/social-media/server{{i.userId.fileName}}" style="height: 40px;width: 50px;" class="img-circle" >
							<p style="margin-top: 5px;">{{i.userId.first_name}}</p>
							<p style="margin-left: 30px;border: 1px solid black;padding-left: 15px;background-color: #0180bd; margin: 0px 0px 10px;">{{i.comment}}</p>
						</div>
						<div style="margin-top: 20px;">
							<input type="text" name="comment" [(ngModel)]="comment" style="margin-left: 25px;">&nbsp;
							<button type="btn" class="btn-info" (click)="commentUser(friend._id,comment)">Comment</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>