<div class="topnav">
	<a class="navbar-brand">
	<i class="fab fa-facebook fa-2x" style="margin-top: -5px;"></i></a>
  <a class="active" routerLink="/mywall">mywall</a>
  <a routerLink="/myprofile">myprofile</a>
  <a routerLink="/myconnection">myconnection</a>
  <a routerLink="/chat">chat</a>
  <a routerLink="/post">post</a>
  <a routerLink="/allpost">allpost</a>
  <a routerLink="/search">search</a>
  <a routerLink="/feeds">feeds</a>
 <a href="" ng-click="logout()" style="padding-left: 450px;" >Log Out</a>
</div>